ul
{display: flex; /* Hacemos flex al ul */
justify-content: center; /* centramos en el eje horizontal*/
justify-content: space-evenly; /* Aplicamos separación a los elementos dentro del ul */
margin: 0;
padding: 0;
}