<section id="educacion" class="portfolio bg-gray-light full-lg-screen">
    <div class="container">
      <h2 class="section-title mb-4">Educacion</h2>
      <div class="col-lg-2">
<div class="row">
   
        <button type="button" class="btn btn-primary" routerLink="/crear-educacion" ><!--*ngIf="isLogged">--->
            Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.tipo}}</h2>
                    </td>
                    <td>{{Educacion.titulo}}</td>
                    <td ><!--*ngIf="isLogged"-->
                        <button class="btn btn-primary" routerLink="/editar-educacion/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td ><!--ngIf="isLogged">--->
                        <!--<button class="btn btn-danger" (click)="delete(Educacion.id)">-->
                            <button><i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      </div> 
</div>
    </section>