<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tipo">Nombre de la institución:</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="educacion.tipo" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Título obtenido:</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="educacion.titulo" required>
                </div>
                <button class="btn btn-primary">
                    Editar educación
                </button>
            </form>
        </div>
    </div>
</div>
